@tailwind base;
@tailwind components;
@tailwind utilities;

.paragraph {
    margin-bottom: 2rem;
}

.chord {
    font-weight: bold;
}

.print-output {
    display: none;
}

@media print {
    div.view-setlist, h2, footer {
        display: none;
    }

    .print-output {
        display: block;
    }

    pre {
        column-count: 2;   /* Creates two columns */
        column-gap: 20px;  /* Adjust gap between columns */
        column-fill: auto; /* Ensures balanced content */
        font-family: monospace;
        font-size: 12px;
        white-space: pre-wrap;
        break-inside: avoid;
    }

}