@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Inter", serif;
}

.paragraph {
    margin-bottom: 2rem;
}

.chord {
    font-weight: 600;
}

td.comment {
    font-weight: bolder;
    font-size: 1.2em;
}

.print-output {
    display: none;
}

@media print {
    /* div.view-setlist, footer {
        display: none;
    }

    .print-output {
        display: block;
    } */

    pre {
        column-count: 2;   /* Creates two columns */
        column-gap: 20px;  /* Adjust gap between columns */
        column-fill: auto; /* Ensures balanced content */
        font-family: "Inter", serif;
        font-size: 14px;
        white-space: pre-wrap;
        break-inside: avoid;
    }

}